{% extends 'layout.html' %}

{% block title %}
    Book Search
{% endblock %}

{% block body %}
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="/static/js/violinChart.js"></script>
    <h3 style="text-align: center"></h3>
        <div class="row">
                <div class="col-sm-2">

                </div>

                <div class="col-sm-8">
                    <h4>Violin Graph</h4>
                    <p>Will compare the page count of books grouped by genre</p>


                    <svg width="460" height="400" id="violin"></svg>
                </div>

                <div class="col-sm-2">

                </div>
        </div>

{% endblock %}