{% extends 'layout.html' %}
<script type="text/javascript" src="/static/js/api.js"></script>
{% block title %}
    Book Search
{% endblock %}

{% block body %}
    <h3 style="text-align: center">{{ message }}</h3>
    <form class='testing'>
        <div class='row'>
            <div class='col-lg-1 col-sm-1'>
            </div>
            <div class='col-lg-10 col-sm-10'>
                <br/>
                <script>function searchBooks_(query) {

  var baseUrl = "https://www.goodreads.com/book/show/",
      apiUrl = "https://www.goodreads.com/search/index.xml",
      apiKey = "BHwsvEAI5cLvfbBayis8ug",
      searchResults = [],
      payload = {
        q: query,
        key: BHwsvEAI5cLvfbBayis8ug
      },
      params = {
        method: "GET",
        payload: payload,
        muteHttpExceptions: true
      };

  var response = UrlFetchApp.fetch(apiUrl, params);

  // API Connection Successful
  if (response.getResponseCode() === 200) {

    // Parse XML Response
    var xml = XmlService.parse(response.getContentText());
    var results = xml.getRootElement().getChildren('search')[0];

    // Save the result in JSON format
    results.getChild('results').getChildren().forEach(function(result) {
      result.getChildren('best_book').forEach(function(book) {
        searchResults.push({
          title: book.getChild('title').getText(),
          author: book.getChild('author').getChild('name').getText(),
          thumbnail: book.getChild('image_url').getText(),
          rating: result.getChild("average_rating").getText(),
          url: baseUrl + result.getChild("id").getText()
        });
      });
    });

  }return searchResults;


}
                searchBooks_('harry_Potter');
                </script>

                <form class='form-search'>
                    <input type='text' name='book_title' class='form-control' placeholder='Book Title' required='' autofocus=''>
                    <input type='password' name='author' class='form-control' placeholder='Author' required=''>
                    <br/>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                    <!--
                    <br/>
                    TODO: add input to attach a camera input
                    -->
                    <br/>
                    <div class='row'>
                        <div class='col-lg-4 col-md-3 col-sm-0'>
                        </div>
                        <div class='col-lg-4 col-md-6 col-sm-12'>
                            <button class='btn btn-lg btn-primary btn-block' name='scan' type='submit'>Scan</button>
                            <br/>
                            <a class="btn btn-success btn-lg btn-block" href="/charts">
                                Graphs?
                            </a>
                            <br/>
                        </div>
                        <div class='col-lg-4 col-md-3 col-sm-0'>
                        </div>
                    </div>
                </form>
            </div>
            <div class='col-lg-1 col-sm-1'>
            </div>
        </div>
    </form>
{% endblock %}